@import "./colors.scss";

@font-face {
  font-family: "Bold";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  color: $text;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

a {
  color: $text;
}
