@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/animations";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  transition: all 0.33s cubic-bezier(0.83, 0, 0.17, 1);
  max-width: 1400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10;

  &--hidden {
    transform: translateY(-100px);
  }

  &:hover svg {
    opacity: 1;
  }

  &__menu {
    display: flex;
    align-items: center;
    transform: translateY(-100px);
    animation: slideDownHeader 1.2s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  }

  svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.67;
    transition: all 0.67s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__external {
    display: flex;
    gap: 40px;
    transform: translateY(-100px);
    animation: slideDownHeader 1.2s cubic-bezier(0.83, 0, 0.17, 1) forwards;
  }
}

@keyframes slideDownHeader {
  33% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0.85;
  }
}
